<article class="content dashboard-page">
  <section class="section">
    <div class="row">
      <app-alert></app-alert>
      <div class="col-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <div class="header-block">
              <p class="title">Employee</p>
            </div>
          </div>
          <div class="card-block">
            <p class="btn btn-pill-left btn-secondary" style="font-size:25px;">{{employees.length}}</p>
          </div>
          <div class="card-footer"> Number of employees </div>
        </div>
      </div>
      <!-- /.col-xl-4 -->
      <div class="col-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <div class="header-block">
              <p class="title"> Your Reviews </p>
            </div>
          </div>
          <div class="card-block">
            <p class="btn btn-pill-left btn-secondary" style="font-size:25px;">{{employee.employee_review.length}}</p>
          </div>
          <div class="card-footer"> Number of reviews </div>
        </div>
      </div>
      <!-- /.col-xl-4 -->
      <div class="col-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <div class="header-block">
              <p class="title"> Front End Developers</p>
            </div>
          </div>
          <div class="card-block">
            <p class="btn btn-pill-left btn-secondary" style="font-size:25px;">{{emp_fe.length}}</p>
          </div>
          <div class="card-footer"> Number of Front End Developers</div>
        </div>
      </div>
      <!-- /.col-xl-4 -->
      <div class="col-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <div class="header-block">
              <p class="title"> Backend Developer</p>
            </div>
          </div>
          <div class="card-block">
            <p class="btn btn-pill-left btn-secondary" style="font-size:25px;">{{emp_be.length}}</p>
          </div>
          <div class="card-footer"> Number of Backend Developers </div>
        </div>
      </div>
      <!-- /.col-xl-4 -->
      <div class="col-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <div class="header-block">
              <p class="title"> Female Employees</p>
            </div>
          </div>
          <div class="card-block">
            <p class="btn btn-pill-left btn-secondary" style="font-size:25px;">{{emp_f.length}}</p>
          </div>
          <div class="card-footer"> Number of Female Employees </div>
        </div>
      </div>
      <!-- /.col-xl-4 -->
      <div class="col-xl-4">
        <div class="card card-primary">
          <div class="card-header">
            <div class="header-block">
              <p class="title"> Male Employees</p>
            </div>
          </div>
          <div class="card-block">
            <p class="btn btn-pill-left btn-secondary" style="font-size:25px;">{{emp_m.length}}</p>
          </div>
          <div class="card-footer"> Number of Male Employees </div>
        </div>
      </div>
      <!-- /.col-xl-4 -->
    </div>
    <!-- /.row -->
  </section>
</article>
